<section class="standard-form settings-main scrollable">
    <div class="settings-header">
        {{#if die.id}}<img src="{{die.img}}" alt="{{die.name}}" height="64px" width="64px">{{/if}}

        <fieldset>
            <legend>{{ localize "SHAREDDICE.Settings.ManageDiceTypes" }}</legend>

            {{!-- Select Type --}}
            <div class="dice-type-management">
                <select class="dice-type-select" data-current-die={{selectedDie.id}}>
                    {{ selectOptions selectDiceOptions selected=die.id valueAttr="id" labelAttr="name" }}
                </select>
                <button 
                    type="button"
                    data-action="createDiceType"
                    data-tooltip="{{ localize "SHAREDDICE.Settings.CreateButtonTooltip" }}"
                ><i class="fa-solid fa-circle-plus"></i></button>
                <button 
                    type="button"
                    data-action="deleteDiceType"
                    data-tooltip="{{ localize "SHAREDDICE.Settings.DeleteButtonTooltip" }}"
                ><i class="fa-solid fa-circle-minus"></i></button>
            </div>
        </fieldset>
    </div>

    {{#if die.id }}
    <fieldset class="dice-config">
        <legend>{{ localize "SHAREDDICE.Settings.DiceConfigTitle"}}</legend>

        {{ formGroup fields.enabled value=die.enabled name="enabled" localize=true }}
        {{ formGroup fields.name value=die.name name="name" localize=true }}
        {{ formGroup fields.img value=die.img name="img" localize=true }}
        {{ formGroup fields.maxPerUser value=die.maxPerUser name="maxPerUser" localize=true }}
        {{ formGroup fields.sortPriority value=die.sortPriority name="sortPriority" localize=true }}

    </fieldset>
    <fieldset class="dice-config">
        <legend>{{ localize "SHAREDDICE.Settings.PlaceholderInfo.Title" }}</legend>
        <div class="explanation">
            <p class="hint">{{ localize "SHAREDDICE.Settings.PlaceholderInfo.Explanation"}}</p>
            <p></p>
            <ul class="hint">
                <li>[$sourceUser] - {{ localize "SHAREDDICE.Settings.PlaceholderInfo.sourceUser"}}</li>
                <li>[$targetUser] - {{ localize "SHAREDDICE.Settings.PlaceholderInfo.targetUser"}}</li>
                <li>[$dieName] - {{ localize "SHAREDDICE.Settings.PlaceholderInfo.dieName"}}</li>
            </ul>
        </div>
        
        {{ formGroup fields.messages.fields.add value=die.messages.add name="messages.add" localize=true }}
        {{ formGroup fields.messages.fields.remove value=die.messages.remove name="messages.remove" localize=true }}
        {{ formGroup fields.messages.fields.use value=die.messages.use name="messages.use" localize=true }}
        {{ formGroup fields.messages.fields.gift value=die.messages.gift name="messages.gift" localize=true }}

    </fieldset>
    {{/if}}
</section>